<div *ngIf="isLoading">
  <h1>Loading...</h1>
</div>

<ng-container *ngIf="!isLoading">
  <div *ngFor="let lesson of lessons">
    <div>
      <h3>{{ lesson.title }}</h3>
      <div>
        <h3>
          weekGrade
          <div *ngFor="let grade of lesson.weekGrades">
            {{ grade.gradeItem }}
          </div>
        </h3>
      </div>
    </div>
  </div>
</ng-container>

<!-- <div *ngFor="let el of grades; index as i; count as count; even as even">
    {{ i }}-{{ el }} count: {{ count }} even: {{ even }}
  </div> -->
